<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/app.js"></script>
<footer class="page-footer  brown darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Todos</h5>
                <p class="grey-text text-lighten-4">Have a nice day!</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <p>alyonamykhalchuk@gmail.com</p>
                <p class="grey-text text-lighten-4"> © 2020 Copyright Text</p>
            </div>
        </div>
    </div>
</footer>
