<nav class="teal lighten-3">
    <div class="nav-wrapper">
        <a href="/api" class="brand-logo right">Todos</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/api">Home</a></li>
            <li><a href="/api/auth/login">Log in</a></li>
            <li><a href="/api/auth/register">Register</a></li>
        </ul>
    </div>
</nav>
