<h2>Log in</h2>
<div class="row">
    <form action="/api/auth/login" class="col s6" method="POST">
        <div class="row">
            <div class="input-field col s8">
                <input placeholder="Placeholder" name="username" id="username" type="text" class="validate">
                <label for="username">Username</label>
            </div>

            <div class="input-field col s8">
                <input id="password" name="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" id="btnLogin" type="submit" name="action">Log in</button>
    </form>
</div>
