<p>notes</p>
{{#if notes.length}}
    <ul>
        {{#each notes}}
            <li class="todo ">
                <label>
                    {{#if completed}}
                        <input type="checkbox" checked>
                        <span class="completed">{{text}}</span>
                    {{else}}
                        <input type="checkbox">
                        <span>{{text}}</span>
                    {{/if}}
                    <button class="btn btn-small">Save732</button>
                </label>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>No todos</p>
{{/if}}
