<div class="row">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{username}}</span>
                <p>Created date: {{createdDate}}</p>
            </div>
            <div class="card-action">
                <a href="/notes">Notes</a>
                <a href="/notes">Add new note</a>
                <a href="/users/me">Change password</a>
                <a href="/notes:id">Delete profile</a>
            </div>
        </div>
    </div>
</div>
