<h2>Create new user</h2>
<div class="row">
    <form action="/api/auth/register" class="col s6" method="POST">
        <div class="row">
            <div class="input-field col s8">
                <input placeholder="Placeholder" name="username" id="username" type="text" class="validate">
                <label for="username">Username</label>
            </div>

            <div class="input-field col s8">
                <input id="password" name="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Register</button>
    </form>
</div>
